---
layout: page
title: Photos
pagination: 
  enabled: true
  collection: photos
  sort_reverse: true
---


{% for item in paginator.posts %}
	<article class="h-entry">
		<a class="u-url" href="{{ item.url }}"> <img class="w-100 | u-photo" srcset="{{ site.baseurl }}/{{ item.image }}??nf_resize=smartcrop&w=240&h=240 320w,
			{{ site.baseurl }}/{{ item.image }}?nf_resize=fit&w=512 512w,
			{{ site.baseurl }}/{{ item.image }}?nf_resize=fit&w=768 768w,
			{{ site.baseurl }}/{{ item.image }}?nf_resize=fit&w=1400 1400w"
	   src="{{ site.baseurl }}/{{ item.image }}?nf_resize=fit&w=320" /></a>
	</article>
{% endfor %}

{% include item-pagination.html %}
