---
layout: page
title: Photos
pagination: 
  enabled: true
  collection: photos
  sort_reverse: true
---


{% for item in paginator.posts %}
	<article class="item item__link">
		<a class="item__link" href="{{ item.url }}"><img src="{{ item.image }}" /></a>
		<div class="flex-ns items-center">
		<h2 class="f5"><a class="item__link" href="{{ item.url }}">{{ item.title }}</a></h2>
		<p class="item__meta ml-auto tr">
			{% if item.tags.size > 1 %}<span class="meta-tags">{{ item.tags | array_to_sentence_string }}</span> {% endif %}
			<time class="meta-date db" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%d %B, %Y" }}</time>
		</p>
		</div>
	</article>
{% endfor %}

{% include item-pagination.html %}
