<div class="f5 w-30-ns self-start mid-gray lh-copy">
    <time class="dt-published" datetime="{{ item.date | date: '%Y-%m-%d %H:%M:%S' }}">
        <span class="db-ns">{{ item.date | date_to_long_string }}</span>
        <span class="db-ns">{{ item.date | date: "%I:%M %P"}} <a class="no-underline | u-url" href="{{ item.url }}" rel="bookmark">#</a></span>
    </time>
</div>

<div class="content w-70-ns mt3 mt0-ns pl3-ns lh-copy">
        
    <p class="mb2 | p-name"><strong>Checked in to:</strong> <span class="mid-gray db-ns | u-checkin h-card">{{ item.checkin }} •
        <data class="p-latitude" value="{{ item.geolocation.latitude }}">{{ item.geolocation.latitude | round: 3 }}<abbr title="degrees">°</abbr></data>, 
        <data class="p-longitude" value="{{ item.geolocation.longitude }}">{{ item.geolocation.longitude | round: 3 }}<abbr title="degrees">°</abbr></data>
    </span>
    </p>

    <picture class="mb2">
        <source media="all and (prefers-color-scheme: dark)"
            srcset="https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/pin-l+307fe2({{ item.geolocation.longitude }},{{ item.geolocation.latitude }})/{{ item.geolocation.longitude }},{{ item.geolocation.latitude }},13/800x300?access_token=pk.eyJ1IjoicmRzYXVuZGVycyIsImEiOiJjazNlaGQ3YXoxMDJpM251aTJzemx5ZjRrIn0.MiRvAifw2AcQ6WP2vWCaKQ">
        <img src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/pin-l+307fe2({{ item.geolocation.longitude }},{{ item.geolocation.latitude }})/{{ item.geolocation.longitude }},{{ item.geolocation.latitude }},13/800x300?access_token=pk.eyJ1IjoicmRzYXVuZGVycyIsImEiOiJjazNlaGQ3YXoxMDJpM251aTJzemx5ZjRrIn0.MiRvAifw2AcQ6WP2vWCaKQ"
            alt="Map of checkin">
    </picture>

    {% if page.content %}
    <div class="e-content">{{ item.content }}</div> 
    {% endif %}

</div>