<div class="f5 w-30-ns self-start lh-copy mid-gray">
  <time class="mid-gray | dt-published" datetime="{{ item.date | date_to_xmlschema }}">
      <span class="db-ns">{{ item.date | date_to_long_string }}</span>
      <span class="db-ns">{{ item.date | date: "%I:%M %P"}} <a class="no-underline | u-url" href="{{ item.url }}" rel="bookmark">#</a></span>
  </time>
</div>

{% comment %} Reply to post {% endcomment %}

  {% if item.in-reply-to-post.size > 1 %}
  <div class="content w-70-ns mt3 mt0-ns pl3-ns lh-copy">
    <h2 class="f5 lh-copy mt0 mb2">⮑ Replying to <a class="u-in-reply-to" href="{{ item.reply-to-post }}">a post from{{ item.in-reply-to-domain }}</a></h2>
    <div class="e-content p-name">{{ item.content }}</div>
  </div>

{% comment %} Reply to tweet {% endcomment %}

  {% elsif item.in-reply-to-tweet.size > 1%}
  <!-- Reply to tweet -->
  <div class="content w-70-ns mt3 mt0-ns pl3-ns lh-copy">
    <h2 class="f5 lh-copy mt0 mb2">⮑ Replying to <a class="u-in-reply-to" href="{{ item.reply-to-tweet }}">a tweet from {{ item.reply-to-screen-name }}</a></h2>
    <div class="e-content p-name">{{ item.content }}</div>
  </div>

{% comment %} Note {% endcomment %}

  {% else %}
  <!-- Note -->
  <div class="content w-70-ns mt3 mt0-ns pl3-ns lh-copy | e-content p-name">
    {{ item.content }}
  </div>
  {% endif %}
