--- 
layout: default 
--- 
{% for item in site.data.contentful.spaces.rdsaunders.blogPost %}
<article class="item pv4 mw7 center">
  <h2 class="f2 lh-solid mt0 mb2">
    <a class="link near-black underline-hover" href="{{ site.baseurl }}{{ item.title | datapage_url: 'posts' }}">{{ item.title }}</a>
  </h2>

  <div class="item__meta mb2">
    <time class="meta-date light-silver" datetime="{{ item.published | date_to_xmlschema }}">{{ item.published | date_to_long_string }}</time>
    {% if item.tags %}
    / 
    <ul class="meta-category list pl0">
        {% for tags in item.tags %}
        <li>{{ tags }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="item__excerpt lh-copy">
    {{ item.description }}
  </div>

</article>
{% endfor %}