---
---
@charset "UTF-8";

:root {
    --color-mode: 'light';
    --blue: #307FE2;
    --near-black: #141414;
    --white: #fff;
    --near-white: #fafafa;
    --soft-white: #c3c1c1;
    --gray: #ccc;
    --neutral-gray: #222;
    --mid-gray: #555;
    --light-gray: #eee;
    --spacing-extra-small: .25rem;
    --spacing-small: .5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-extra-large: 4rem;
    --breakpoint-not-small: 'screen and (min-width: 30em)';
    --breakpoint-medium: 'screen and (min-width: 30em) and (max-width: 60em)';
    --breakpoint-large: 'screen and (min-width: 60em)';
    --text-color: var(--near-black);
    --body-color: var(--near-white);
    --button-bg-color: var(--body-color);
    --link-txt-color: var(--text-color);
    --divider-primary-color: var(--light-gray);
    --icon-color: var(--near-black);
}

@media (prefers-color-scheme: dark) {

    :root {
        --color-mode: 'dark';
    }

    :root:not([data-user-color-scheme]) {
        --text-color: var(--soft-white);
        --body-color: var(--near-black);
        --link-txt-color: var(--text-color);
        --divider-primary-color: var(--mid-gray);
        --icon-color: var(--text-color);
        --divider-primary-color: var(--neutral-gray);

        img {
            filter: brightness(.8) contrast(1.1);
        }

        img:hover {
            filter: brightness(1) contrast(1);
        }
    }

}

// Create sass mixin to repeat this, used where prefers colour is not avaliable
[data-user-color-scheme='dark'] {
--text-color: var(--soft-white);
--body-color: var(--near-black);
--link-txt-color: var(--text-color);
--divider-primary-color: var(--neutral-gray);
--icon-color: var(--text-color);

    img {
        filter: brightness(.8) contrast(1.1);
    }

    img:hover {
        filter: brightness(1) contrast(1);
    }
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}
.icon {
    fill: var(--icon-color);
}

.logo {
    color: var(--text-color);
}

.sans-serif {
    font-family: -apple-system, BlinkMacSystemFont,
                 'avenir next', avenir,
                 'helvetica neue', helvetica,
                 ubuntu,
                 roboto, noto,
                 'segoe ui', arial,
                 sans-serif;
}

.i { font-style: italic; }

  

// Border radius
.br-100 {     border-radius: 100%; }
.br-pill {     border-radius: 9999px; }

// Border color
.b--divider {   border-color: var(--divider-primary-color);}

// Background color
.bg-near-white {    background-color: var(--near-white); }
.bg-mid-gray {      background-color: var(--mid-gray); }

// Text color
.white { color: var(--white);}
.near-black {color: var(--near-black)}

// Border styling
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bw1 { border-width: .125rem; }
.bw2 { border-width: .25rem; }

kbd {
    font-size: 1.1em;
    background: var(--white);
    padding: 0.25em 0.375em;
    border-radius: 0.25em;
    line-height: 1;
    border: 1px solid var(--gray);
}

blockquote {
    padding-left: var(--spacing-medium);
    border-left: 2px solid var(--blue);

}
.no-underline { text-decoration: none; }

//  Variables 
@import 'media-queries';

//  Modules 
@import 'display';
@import 'flexbox';
@import 'font-weight';
@import 'heights';
@import 'line-height';
@import 'lists';
@import 'max-widths';
@import 'widths';
@import 'spacing';
@import 'text-transform';
@import 'type-scale';
@import 'typography';
@import 'utilities';
@import 'visibility';
@import 'syntax';
@import 'styles';
@import "links";
@import "theme-switch";
@import "photos"