<address class="flex items-center">
    <img class="u-photo br-100" src="/assets/richard-saunders.png?nf_resize=fit&w=48&h=48" alt="A profile photo of {{ site.author }}" width="48" height="48">
   <p>By <a rel="author" class="p-author h-card" href="{{ site.url }}">{{ site.author}}</a> on
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time> 
    
    {% if page.category.size > 0 %}
    <span class="p-category">
     in {{ page.categories | array_to_sentence_string }}
    </span>
    {% endif %}
    </p>
</address>