<nav class="post-navigation flex pv3 bb b--moon-gray">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="post-navigation__previous" rel="prev">Prev</a>
  {% else %}
    <span class="post-navigation__previous post-navigation__disabled silver">Previous</span>
  {% endif %}

  <span class="post-navigation__pager">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="post-navigation__next ml-auto" rel="next">Next</a>
  {% else %}
    <span class="post-navigation__next post-navigation__disabled ml-auto silver">Next</span>
  {% endif %}

</nav>
