{% if paginator.total_pages > 1 %}
<nav aria-label="Article list pagination" class="flex justify-between pv3 bb b--moon-gray">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" rel="prev">Previous</a>
  {% else %}
    <span class="mid-gray">Previous</span>
  {% endif %}

  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" rel="next">Next</a>
  {% else %}
    <span class="mid-gray">Next</span>
  {% endif %}

</nav>
{% endif %}
