---
layout: page
title: Talks
---
{% assign talks = site.talks | sort:"date" %}
{% for talk in talks reversed %}
  {% assign this_year = talk.date | date:"%Y" %}

  {% if this_year != year %}
    {% unless forloop.first %}
  </div>
</section>
    {% endunless %}

    <section class="flex mb4 pv2 bb b--moon-gray">
      <header class="pr3" aria-labelledby="year-{{ this_year }}">
        <h2 id="year-{{ this_year }}" class="f3 f3-m f3-l ma0">{{ this_year }}</h2>
      </header>

      <div>
        {% assign year = this_year %}
      {% endif %}

        <article class="mb4">
          <h3 class="f3 f3-m f3-l lh-title mt0 mb2">
            <a href="{{ site.baseurl }}{{ talk.url }}" rel="bookmark">{{ talk.title }}</a>
          </h3>
          <h4 class="ma0 mb3">{{ talk.meta.event }}</h4>
            <div class="mid-gray mb2">{{ talk.meta.location }}</div>
            <time class="mid-gray db" datetime="{{ talk.date | date_to_xmlschema }}">{{ talk.date | date: "%d %B, %Y" }}</time>
        </article>

      {% if forloop.last %}
    </section>

  {% endif %}
{% endfor %}
