---
layout: page
title: Talks
---

{% assign postsByYear = site.talks | group_by_exp:"talk", "talk.date | date: '%Y'" %}

{% for year in postsByYear reversed %}

<section class="flex-none-ns flex-m flex-l mb4 pv2 bb b--divider"><!-- start of year -->

  <header class="pr3 mb4" aria-labelledby="year-{{ year.name }}">
    <h2 id="year-{{ year.name }}" class="f3 f3-m f3-l ma0">{{ year.name }}</h2>
  </header>
  <div>

    {% for item in year.items reversed %}
    <article class="mb4">
      <h3 class="f3 f3-m f3-l lh-title mt0 mb2">
        <a href="{{ site.baseurl }}{{ item.url }}" rel="bookmark">{{ item.title }}</a>
      </h3>

      <h4 class="ma0 mb3">{{ item.meta.event }}</h4>
      
      <div class="mid-gray mb2">{{ item.meta.location }}</div>
      
      <time class="mid-gray db" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%d %B, %Y" }}</time>
    
      {% if item.excerpt %}
      <div class="lh-copy mb2">
        {{ item.excerpt }}
      </div>
      {% endif %}

      {% if item.tags.size > 0 %}
      <div>
        <b>Tagged with:</b> {{ item.tags | array_to_sentence_string }}
      </div>
      {% endif %}

    </article>

    {% endfor %}

  </div>
</section><!-- end of year -->

{% endfor %}