---
layout: page
title: Bookmarks
pagination:
  enabled: true
  collection: links
  sort_reverse: true
---

{% assign postsByYear = site.links | group_by_exp:"bookmark", "bookmark.date | date: '%Y'" %}

{% for year in postsByYear reversed %}
<h1>{{ year.name }}</h1>
{% assign postsByMonth = year.items | group_by_exp:"bookmark", "bookmark.date | date: '%B'" %}

{% for month in postsByMonth reversed %}
<section class="flex-none-ns flex-m flex-l mb4 pv2 bb b--moon-gray"><!-- start of month -->

  <header class="pr3 mb4" aria-labelledby="month-{{ month.name }}">
    <h2 id="month-{{ month.name }}" class="f3 f3-m f3-l ma0">{{ month.name }}</h2>
  </header>
  <div>

    {% for item in month.items reversed %}
    <article class="pb4 | h-entry">
      <h3 class="f3 f3-m f3-l lh-title mt0 mb2">
        <a class="u-bookmark-of h-cite" href="{{ item.link}}" rel="bookmark" target="_blank">{{ item.title }}</a>
      </h3>

      <time class="mid-gray db mb2" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%d %B, %Y" }}</time>

      {% if item.excerpt %}
      <div class="lh-copy mb2">
        {{ item.excerpt }}
      </div>
      {% endif %}

      {% if item.tags.size > 0 %}
      <div>
        <b>Tagged with:</b> {{ item.tags | array_to_sentence_string }}
      </div>
      {% endif %}

    </article>

    {% endfor %}

  </div>
</section><!-- end of month -->

{% endfor %}

{% endfor %}