---
layout: page
title: Bookmarks
pagination: 
  enabled: true
  collection: links
  sort_reverse: true
---
{% assign bookmarks = site.links | sort:"date" %}
{% for bookmark in bookmarks reversed %}
  {% assign this_year = bookmark.date | date:"%Y" %}
  {% assign this_month = bookmark.date | date:"%M" %}

  {% if this_year != year %}
    {% unless forloop.first %}
  </div>
</section>
    {% endunless %}

    <section class="flex mb4 pv2 bb b--moon-gray">
      <header class="pr3" aria-labelledby="year-{{ this_year }}">
        <h2 id="year-{{ this_year }}" class="f3 f3-m f3-l ma0">{{ this_year }}</h2>
      </header>

      <div>
        {% assign year = this_year %}
      {% endif %}

        <article class="mb4">
          <h3 class="f3 f3-m f3-l lh-title mt0 mb2">
            <a href="{{ bookmark.link}}" rel="bookmark" target="_blank">{{ bookmark.title }}</a>
          </h3>

           <time class="mid-gray db" datetime="{{ bookmark.date | date_to_xmlschema }}">{{ bookmark.date | date: "%d %B, %Y" }}</time>

           {% if bookmark.excerpt %}
           <div class="item__excerpt">
             {{ bookmark.excerpt }}
           </div>
           {% endif %}
        </article>

      {% if forloop.last %}
    </section>

  {% endif %}
{% endfor %}