---
layout: page
title: Notes & checkins
pagination:
  enabled: true
  collection: notes
  sort_reverse: true
---

{% for item in paginator.posts %}
<article class="flex-ns pt3 mb3 bt b--divider | h-entry">
    <a class="f5 f4-l w-30-ns lh-copy | u-url" href="{{ item.url }}"> 
      <time class="dt-published" datetime="{{ item.date | date_to_xmlschema }}">
          <span class="db-ns">{{ item.date | date_to_long_string }}</span>
          <span class="db-ns">{{ item.date | date: "%I:%M %P"}}</span>
      </time>
    </a>

    <div class="content w-70-ns mt3 mt0-ns pl3-ns lh-copy | e-content p-name">
      {{ item.content }}

      {% if item.geolocation.latitude.size > 1 %}
      <a class="p-location h-geo" href="https://www.openstreetmap.org/#map=17/{{ item.geolocation.latitude }}/{{ item.geolocation.longitude }}" target="_blank"><data class="p-latitude" value="{{ page.geolocation.latitude }}">{{ item.geolocation.latitude | round }}<abbr title="degrees">°</abbr></data>, 
         <data class="p-longitude" value="{{ item.geolocation.longitude }}">{{ item.geolocation.longitude | round }}<abbr title="degrees">°</abbr></data></a>
      {% endif %}
    </div>



</article>
{% endfor %}

</section>

{% include item-pagination.html %}
