---
layout: page
title: Notes
pagination: 
  enabled: true
  collection: notes
  sort_reverse: true
---


{% for item in paginator.posts %}
	<article class="item item__link">
		<h2 class="item__title"><a class="item__link" href="{{ item.url }}">{{ item.title }}</a></h2>
		<p class="item__meta">
			{% if item.tags %}<span class="meta-tags">{{ item.tags | array_to_sentence_string }}</span> / {% endif %}
			<time class="meta-date" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%d %B, %Y" }}</time></p>

			{% if item.excerpt %}
			<div class="item__excerpt">
				{{ item.excerpt }}
			</div>
			{% endif %}

			{% if item.embed %}
			<div class="item__media video-full-width">
				{% include embed.html url=item.link id=item.embed.id ratio=item.embed.ratio title=item.title %}
			</div>
			{% endif %}

	</article>
{% endfor %}

{% include item-pagination.html %}

