---
layout: compress
---
<!DOCTYPE html>
<html lang="en-gb" class="no-js">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="{{ site.theme_color }}">
    <link rel="canonical" class="u-url" href="{{ site.url }}{{ page.url }}"/>
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json"/>

    {% feed_meta %}

    <meta charset="utf-8"/>
    <meta name="author" content="{{ site.author.name }}"/>
    <meta name="referrer" content="origin"/>
    <meta name="robots" content="index, follow"/>
    <meta name="theme-color" content="{{ site.theme_color }}"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="application-name" content="{{ site.title }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="google-site-verification" content="8ohyKwncaV4Nzan0YcwcQR2t2Pc66BZ0UmRz5tlf7Z0" />

    {% seo %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />


  </head>

  <body id="top" class="sans-serif f4-l ma0-l mw7-m mw8-l mh3-ns mh5-m mh6-l">
    <div class="hidden" hidden>
    {% include /symbol/svg/sprite.symbol.svg %}
    </div>
    <a href="#content" class="skip-link">Skip to main content</a>
    {% include header.html %}
    {% include main.html %}
    {% include footer.html %}

    <script src="{{ site.baseurl }}/js/main.js" defer></script>
    
  </body>
</html>