---
layout: compress
---
<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/ico"/>
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/apple-touch-icon-192x192.png" type="image/png"/>
    <link rel="mask-icon" href="{{ site.baseurl }}/images/icons/icon.svg" color="{{ site.theme_color }}"/>
    <link rel="canonical" class="u-url" href="{{ site.url }}{{ page.url }}"/>
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json"/>
    {% feed_meta %}

    <meta charset="utf-8"/>
    <meta name="author" content="{{ site.author.name }}"/>
    <meta name="referrer" content="origin"/>
    <meta name="robots" content="index, follow"/>
    <meta name="theme-color" content="{{ site.theme_color }}"/>
    <meta name="application-name" content="{{ site.title }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="google-site-verification" content="8ohyKwncaV4Nzan0YcwcQR2t2Pc66BZ0UmRz5tlf7Z0" />

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />


  </head>

  <body id="top" class="sans-serif bg-near-white near-black ma0-l mw7-m mw7-l ml3-ns ml5-m ml6-l">

    {% include header.html %}
    {% include main.html %}
    {% include footer.html %}

    <script src="{{ site.baseurl }}/js/main.js" defer></script>
    
  </body>
</html>