---
layout: default
---
<article class="h-entry">
    <header class="pb3">
        <h1 class="p-name f2 f1-l lh-title mt0 mb2">{{ page.title }}</h1>
        <div class="mb2">

            <time class="dt-published ttu tracked f6 mid-gray db" datetime="{{ page.published | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>

        </div>
    </header>

    <img src="{{ site.cloudinary_url }}/w_768/f_auto{{ page.image }}" class="w-100 mv3" />


    <div class="e-content lh-copy measure-wide-m measure-wide-l">
        {{ page.content | markdownify}}
    </div>

    {% if page.tags %}
    <footer>
        <div class="mb3 tr">
          {{ page.tags | array_to_sentence_string }}
        </div>
    </footer>
    {% endif %} 


    {% include post-navigation.html %}

</article>

