---
layout: default
---
<article class="h-entry">
    <h1 class="p-name f2 f1-l lh-title mt0 mb2">{{ page.title }}</h1>

    {% assign photoset = site.photos | where: 'photoset', page.relative_path %}

    <div class="flex">
      {% for item in photoset reversed %}
        <img loading="lazy" srcset="{{ site.cloudinary_url }}/w_320/f_auto{{ item.image }} 320w,
        {{ site.cloudinary_url }}/w_512/f_auto{{ item.image }} 512w,
        {{ site.cloudinary_url }}/w_768/f_auto{{ item.image }} 768w,
        {{ site.cloudinary_url }}/w_1400/f_auto{{ item.image }} 1400w"
    src="{{ site.cloudinary_url }}/w_320/f_auto{{ item.image }}" class="w-100 pr1" />
      {% endfor %}
    </div>

</article>

